<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.panshi.bikeservice.bikeMapper.BikeMapper">
    <!--骑车中查询信息-->
    <resultMap id="queryCycling" type="com.panshi.bikeservice.domain.BikeRecordDo">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="bikeId" column="bikeId"/>
        <result property="beginId" column="beginId"/>
        <result property="endId" column="endId"/>
        <result property="beginTime" column="beginTime"/>
        <result property="endTime" column="endTime"/>
        <result property="runKm" column="runKm"/>
        <result property="runCost" column="runCost"/>
        <result property="upTime" column="upTime"/>
        <result property="bikeDo.bikeNum" column="bikeNum"/>
        <result property="locationDo.location" column="location"/>
    </resultMap>

    <!--骑车中查询信息-->
    <select id="rideBike" resultMap="queryCycling">
        SELECT
            r.id as id,
            r.user_id as userId,
            r.bike_id as bikeId,
            r.begin_id as beginId,
            r.end_id as endId,
            r.begin_time as beginTime,
            r.end_time as endTime,
            r.run_km as runKm,
            r.run_cost as runCost,
            r.c_time as upTime,
            b.bike_num as bikeNum,
            l.location as location
        FROM
            ofo_bike_record_t r LEFT JOIN ofo_bike_t b on(r.bike_id=b.id)
            left JOIN ofo_location_t l on(r.begin_id=l.id)
        WHERE
            user_id =#{userId}
    </select>

    <!--计费方式-->
    <select id="chargeMode" resultType="com.panshi.bikeservice.domain.ConfigDo">
        SELECT
            billingway
        FROM
            ofo_config_t
    </select>

    <!--骑行中上报故障-->
    <insert id="reportFault">
        INSERT INTO ofo_fault_record_t ( user_id, bick_id, c_time, fault_type, remark )
        VALUES
            (#{userId},#{bickId},now(),#{vehicleid},#{part},#{remark});
    </insert>

    <!--根据单车编号获得单车对象-->
    <select id="getBikeNum" resultType="com.panshi.bikeservice.domain.BikeDo">
        select id,
        location_id as locationId,
        bike_num as bikeNum,
        bike_state as bikeState,
        c_time as cTime,
        up_time as upTime
        from
            ofo_bike_t
        where  bikeNum=#{bikeId}
    </select>

    <!--新增骑车记录表-->
    <insert id="createRecord" parameterType="com.panshi.bikeservice.domain.BikeRecordDo">
        insert into ofo_bike_record_t (user_id,bike_id,begin_id,begin_time) values (#{userId},#{bikeId},#{beginId},now())
    </insert>

    <!--修改单车表状态-->
    <update id="updateState">
        update ofo_bike_t set bike_state=#{state} where bike_num=#{vid}
    </update>

    <!--查询支付密码-->
    <select id="queryPayPassword" resultType="com.panshi.bikeservice.domain.AccountDo">
        select id,
        balance,
        deposit,
        no_password as noPassword,
        pay_password as payPassword,
        c_time as cTime,
        up_time as upTime
        from
            ofo_account_t
        where  user_id=#{userId}
    </select>

    <!--扣钱-->
    <update id="deleteMoney">
        UPDATE ofo_account_t
        SET balance = balance-#{money},
        up_time = now()
        WHERE
            user_id =#{userId}
    </update>

    <!--增加金额流水记录-->
    <insert id="addMoneyWater">
        INSERT INTO ofo_money_t ( user_id,money,c_time,payment_id,in_out)
        VALUES
            (#{userId},#{money},now(),(select id from ofo_payment_t where type=#{type}),1);
    </insert>
    <!--获取全部地区-->
    <select id="getAllRegion" resultType="com.panshi.bikeservice.domain.LocationDo">
        select
        id,
        location,
        c_time as cTime,
        up_time as upTime
        from ofo_location_t
    </select>
    <!--根据地区获取对象-->
    <select id="getlocationByLocation" resultType="com.panshi.bikeservice.domain.LocationDo">
        select id,location,c_time as cTime,up_time as upTime from ofo_location_t where location=#{location}
    </select>
    <!--根据地区id获取单车集合-->
    <select id="getBikeBylocationid" resultType="com.panshi.bikeservice.domain.BikeDo">
        select id,
        location_id as locationId,
        bike_num as bikeNum,
        bike_state as bikeState,
        c_time as cTime,
        up_time as upTime
        from ofo_bike_t where locationId=#{id} limit (#{page}-1)*#{size},#{size}
    </select>
    <insert id="createRecordFault" parameterType="com.panshi.bikeservice.domain.RecordFaultDo">
        insert into ofo_fault_record_t (bick_id,c_time,fault_type,remark,up_time) values (#{bickId},now(),#{faultType},#{remark},now())
    </insert>
</mapper>